.Demo2
{
    color: yellow;
            background: royalblue;
            margin-bottom: 16px;
            font-size: 24px;
            font-family: cursive;
            text-align: center;
        
}